header {
  overflow: hidden;
}

.navbar {
    background-color: #ced4da;
}

.navbar .navbar-brand {
  color:#074163;
  font-family: 'Berkshire Swash', cursive;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://media.cntraveler.com/photos/5b22bfdff04a775484b99dfc/5:4/w_2810,h_2248,c_limit/Alo-Restaurant__2018_Raffi-Photo-2.jpg');
  background-size: cover;
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color:#dee2e6;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #074163;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #359b8d;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans TC', sans-serif;
}

.card:hover {
  border-radius: 8%;
}

.card img{
  height: 180px;
}

.card img:hover {
  border-radius: 8%;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: 1px;
  color: #567891;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 0px rgb(0, 0, 0);
  font-family: 'Sawarabi Gothic', sans-serif;
}

@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}

.card-footer {
  font-family: 'Berkshire Swash', cursive;
  color:#074163;
  font-size:large;
  background-color: #dee2e6;;
  border-top: none;
}

.new_container {
  width: 40%;
  margin: 2em auto;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 3%;
}

.infoBtn:hover {
  background-color: #074163;
}

.fa-info:hover {
  color: aliceblue;
}

.editBtn:hover {
  background-color: darkgoldenrod;
}

.fa-edit:hover {
    color: aliceblue;
}

.deleteBtn:hover {
  background-color: darkred;
}

.fa-trash-alt:hover {
  color: aliceblue;
}

.backBtn:hover {
  background-color: #1e7e34;
}

.fa-undo-alt:hover {
  color: aliceblue;
}

.saveBtn:hover {
  background-color:#064163;;
}

.fa-save:hover {
  color: aliceblue;
}

.sortBtn:hover {
  background-color: #dee2e6;
}

.dropdown-menu {
  font-family: 'Berkshire Swash', cursive;
}